# GMSH output files
*.geo_unrolled
*.msh

# Jupyter notebooks
notebooks
*.ipynb

# Python related
poetry.lock
# Python virtual environment
.venv
**/__pycache__/

# Documentation
docs/_build/

# Other
.DS_Store