# GMSH output files
*.geo_unrolled
*.msh

# Jupyter notebooks
notebooks
*.ipynb

# Python related
poetry.lock
# Python virtual environment
.venv
**/__pycache__/

# Documentation
docs/build/
docs/make.bat

# Other
.DS_Store